########################################################################
# editorconfig
# Created by jerry on 2018/8/9.
#
# EditorConfig帮助开发人员定义和维护一致的编码风格在不同的编辑器和IDE
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties



root = true

[*]
charset = utf-8

[src/js/*.js]
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.md]
indent_style = tab
trim_trailing_whitespace = false
